html{
    scroll-behavior: smooth;

}
body{
    background: var(--clr-gray100);
    font-family: Segoe UI, Helvetica, calibri, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

input,
textarea,
button,
select, img, span,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
}


nav{
    border: 1px black solid;
}
/*Navigation Bar*/
.logo {
    position: absolute;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 13px;
}

.logo h1 {
    font-family: Segoe UI, Helvetica, calibri, serif;
    margin-top: 4px;
}

#menu {
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    display: none;
}

#close {
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
    display: none;
}

nav ul {
    display: block;
    float: right;
    overflow: hidden;
    margin: 7px 0;
    margin-right: 10px;
}

nav ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 617px) {
    .logo {
        margin-top: 7px;
        position: relative;
        overflow: hidden;
        display: block;
        font-size: 14px;
    }
    .logo h1 {
        position: relative;
        margin-bottom: 10px;
    }
    nav {
        width: 100vw;
        height: 100vh;
        display: none;
    }
    nav ul {
        padding-top: 20px;
        display: block;
        width: 100%;
        margin: auto;
    }
    .nav-expanded {
        display: block;
    }
    nav ul li {
        float: none;
        border-bottom: 2px solid #D8D8D8;
    }
    nav ul li:last-child {
        border-bottom: none;
    }
    #menu {
        display: block;
    }
}

p {
    color: #444;
    font-size: 14px;
    line-height: 20px;
}
h1 {
    padding-bottom: 10px;
    margin-top: 0;
    font-size: 42px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ddd;
    cursor: default;
}
h2 {
    color: #003459;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    margin: 0 5px;
    border: 0;
    color: white;
    background-color: #00a8e8;
}
.btn:first-child {
    margin-left: 0;
}
.btn-delete {
    background-color: #d90000;
}

/** Container */
.app-container {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100%;
}
/** App View */
.app-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}
/** Utility Bar */
.utility-bar {
    height: 50px;
    font-size: 13px;
    font-weight: 300;
    background-color: #002a38;
}
.utility-bar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}
.utility-bar__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.utility-bar__item-link {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 50px;
}
.utility-bar__item-link svg, .utility-bar__item-link svg path {
    fill: #007ea7 !important;
    transition: fill 200ms ease-out;
}
.utility-bar__item-link:hover svg, .utility-bar__item-link:hover svg path {
    fill: #00a8e8 !important;
}
.utility-bar__indicator {
    position: relative;
    left: -7px;
    top: 9px;
    width: 14px;
    height: 14px;
    color: white;
    font-size: 10px;
    text-align: center;
    background-color: #d90000;
    border-radius: 100%;
}
.utility-bar__account {
    display: flex;
    align-items: center;
    padding: 10px;
}
.utility-bar__account:hover .utility-bar__account-name {
    color: #eee;
}
.utility-bar__account-avatar {
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    background-color: #666;
    background-image: url('http://keenanstaffieri.com/wp-content/uploads/2014/07/keenan_avatar2.jpg');
    background-size: 100%;
    border-radius: 100%;
}
.utility-bar__account-name {
    color: #00a8e8;
    transition: color 200ms ease-out;
}
/** Content */
.content {
    flex: 1;
    padding: 30px;
    background-color: #f1f1f150;
    -webkit-font-smoothing: antialiased;
}


/** Navigation */
.nav {
    flex: 1;
    max-width: 180px;
    background-color: #4e2f5f;
    -webkit-font-smoothing: antialiased;
}
.nav__list {
    margin: 40px 0 0;
    padding: 0;
    list-style: none;
}
.nav__list-item {
    position: relative;
}
.nav__list-item--active {
    padding: 10px 0 10px 15px;
}
.nav__list-item--active .nav__item-link {
    padding: 15px 15px;
    color: #1a1a1a;
    font-weight: 700;
    background-color: #ffffff;
}
.nav__item-link {
    display: block;
    padding: 10px 30px;
    color: #eee;
}
header{
    margin-top: 75px;
}

#Form1{
    background-color: #302f30bb;
    color:white;
    border-radius: 10px;
    width: 70%;
    height: 360px;
}
#iconBus{
    margin-left: 20px;
}

.submit-button {
    border: 0px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Roboto', Segoe UI, calibri, Helvetica, serif;
    padding: 10px;
    font-size: 18px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9260ad;
    transition: all 0.2s ease-in-out;
}

.submit-button:hover, button:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.reset-button {
    border: 0px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: 'Roboto', Segoe UI, calibri, Helvetica, serif;
    padding: 10px;
    font-size: 18px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    transition: all 0.2s ease-in-out;
}

.reset-button:hover, button:active {
    background-color: rgb(197, 197, 197);
    color: rgb(0, 0, 0);
}
table {
    width: 100%;
    color: #29516d;
    font-size: 14px;
    border-spacing: 0;
}
table th, table td {
    padding: 10px;
}
table thead th {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table tbody tr:nth-of-type(odd) {
    background-color: #f6f6f6;
}
table tbody tr:hover {
    background-color: #ecf7ff;
}
.btn {
    padding: 10px;
    margin: 0 5px;
    border: 0;
    color: white;
    background-color: #00a8e8;
}
.btn:first-child {
    margin-left: 0;
}
.btn-delete {
    background-color: #d90000;
}

