@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html{
    scroll-behavior: smooth;

}
body{
    background: var(--clr-gray100);
    font-family: 'Poppins';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

table{
    font-family: 'Poppins';
}
/*Hero Image*/
header {
    width: 100vw;
    height: 5vh;

}
.about{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.title{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: Segoe UI, Helvetica, calibri, serif;
}
table{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}


nav {
    font-family: 'Poppins', sans-serif;
    border-radius: 50px !important;
    padding: 0 40px !important;
}
.logo{
    width: 100px;
    height:auto;
    margin-top:5px;
}

a.nav-link {
    margin: 10px;
    padding: 1px 25px !important;
    color: #9f9f9f;
    border-radius: 50px;
}

a.nav-link:hover {
    color: blue;
    background: #e7e7e7;
}

.navbar-toggler {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler:active {
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-toggler img {
    transition: width 0.15s ease-in-out;
}

.navbar-toggler.clicked img {
    width: 75px;
}