<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateData() {
        // Make an AJAX request to your Spring Boot server
        $.ajax({
            url: "/main/bus",
            type: "GET",
            success: function(response) {
                // Convert the integer response to a string
                var responseString = response.toString();
                // Update the content of the div with the fetched data
                $("#my-div").text(responseString);
            },
            error: function(xhr) {
                console.log(xhr.responseText);
            }
        });
    }

    // Call the updateData function every second
    setInterval(updateData, 1000);
</script>

<body>
<div id="my-div"></div>
</body>
</html>