<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/TravelDashboard.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
</head>
<body>
<!--Navigation Bar-->
<div class="logo">
  <h1> CleverVision </h1>
</div>
<span id="close"> <img style="width: 25px;" src="http://www.pvhc.net/img5/onbbqnqzkjrtvirmiqnp.png" alt="CLOSE"> </img> </span>
<span id="menu"> <img style="width: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR11WXR-a18XfNZknL7S4lu0lLyC4aWZPY4sLd4wNHUNv9So2gd"
                      alt="MENU"> </span>
<nav>
  <ul>
    <li> <a href="/main"> <i class="bi bi-house-door-fill"></i> HOME </a> </li>
    <li th:if="${user.getRole()==3}"> <a href="/dashboard"><i class="bi bi-shield-fill"></i> DASHBOARD</a> </li>
    <li th:if="${user.getRole()==2}"> <a href="/driverDashboard"><i class="bi bi-shield-fill"></i> DRIVER DASHBOARD</a> </li>
    <li><i class="bi bi-person-fill"></i> <a href="/editProfile" th:text="${user.getLogin()}"></a> </li>
    <li> <a href="/logout"><i class="bi bi-box-arrow-right"></i> LOGOUT</a></li>
  </ul>
</nav>
<header>
  <div class="app-container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="#" class="nav__item-link">Dashboard</a>
        </li>
        <li class="nav__list-item nav__list-item--active">
          <a href="/dashboard" class="nav__item-link">Users </a>
        </li>
        <li class="nav__list-item">
          <a href="/travelDashboard" class="nav__item-link">Travel </a>
        </li>
        <li class="nav__list-item">
          <a href="/dashboardBus" class="nav__item-link">Bus</a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__item-link">Contracts</a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__item-link">Statuses</a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__item-link">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="app-view">
      <main class="content">

        <h1> Travel Dashboard</h1>

        <p>Please don't be an idiot when using ur dashboard ! </p>

        <form method="post" action="/StartBus" th:object="${StartBusRequest}" onsubmit="return confirm('are you sure you want to start this bus ? ')">
          <br>
          <h2 id="iconBus">   <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-bus-front" viewBox="0 0 16 16">
            <path d="M5 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm-6-1a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7Zm1-6c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9c1.876 0 3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44.303 44.303 0 0 0 8 4Zm0-1c-1.837 0-3.353.107-4.448.22a.5.5 0 1 1-.104-.994A44.304 44.304 0 0 1 8 2c1.876 0 3.426.109 4.552.226a.5.5 0 1 1-.104.994A43.306 43.306 0 0 0 8 3Z"/>
            <path d="M15 8a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1V2.64c0-1.188-.845-2.232-2.064-2.372A43.61 43.61 0 0 0 8 0C5.9 0 4.208.136 3.064.268 1.845.408 1 1.452 1 2.64V4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v3.5c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2V8ZM8 1c2.056 0 3.71.134 4.822.261.676.078 1.178.66 1.178 1.379v8.86a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 11.5V2.64c0-.72.502-1.301 1.178-1.379A42.611 42.611 0 0 1 8 1Z"/>
          </svg>  Start Bus</h2>
          <br>
          <div class="form-group">
            <label class="col-lg-3 control-label"><Strong>Choose Destination</Strong> </label>
            <div class="col-lg-5">
              <select class="form-select" aria-label="Default select example" name="destination">
                <option value="1" selected>Bizerte - IsetBZ</option>
                <option value="2">Iset - Bizerte </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label"><Strong>Select Driver ID</Strong></label>
            <div class="col-lg-5">
              <select class="form-select" aria-label="Default select example" name="driverId">
                <option th:each="driver:${DriversList}"
                            th:value="${driver.getId()}"
                            th:text="${driver.getId()}" >
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label"><Strong>Choose start time</Strong></label>
            <div class="col-lg-5">
              <div class="cs-form">
                <input type="time" class="form-control" value="10:05 AM" name="startTime" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label"><Strong>Select Bus ID</Strong></label>
            <div class="col-lg-5">
              <select class="form-select" aria-label="Default select example" name="busId">
                <option th:each="bus:${BusList}"
                        th:value="${bus.getMat()}"
                        th:text="${bus.getMat()}" selected></option>
              </select>
            </div>
          </div>
          <div class="col-md-8">
            <input type="submit"  value="Start Bus" class="submit-button">
            <span></span>
            <input type="reset" class="reset-button" value="Cancel">
          </div>
          <!--                  <button type="submit" onclick="StartBus();">Start bus !</button>-->
        </form>
      </main>
    </div>
  </div>
</header>
</body>
</html>